@charset "utf-8";
.xm{
	width: 80px;
}
.dz{
	width: 225px;	
}
.dh{
	width: 150px;
}
.yb{
	width: 155px;
}
.dq {
    width: 135px;
    background-image: url(../img/arrow.png);
    background-repeat: no-repeat;
    background-position: right center;
}
.hwmc{
	width: 465px;
}
.zl{
	width: 60px;
}
.sj{
	width: 150px;
}