@charset "utf-8";
.xm{
	width: 80px;
}
.dz{
	width: 225px;	
}
.dh{
	width: 150px;
}
.yb{
	width: 155px;
}
.dq {
    width: 135px;
    background-image: url(../img/arrow.png);
    background-repeat: no-repeat;
    background-position: right center;
}
.hwmc{
	width: 465px;
}
.zl{
	width: 60px;
}
.sj{
	width: 150px;
}

.one,.two,.three{
	-webkit-transition: all 1s .25s;
	-o-transition: all 1s .25s;
	transition: all 1s .25s;
}
.one:hover,.two:hover,.three:hover{
	font-size: 15px;
	-webkit-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
	transform: translate(-5px,5px);
	background-color: rgba(20,75,71,1.00);
}

