*{
	margin:0;	
	-webkit-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}
#bigbox{
	width: 960px;	
	margin: 0 auto;	
}
a{
	text-decoration: none;
	color: rgba(33,107,178,1.00);
	font-size: 11px;
	text-shadow: 0px 0px 1px;
}
p{
	text-shadow: 0px 0px 1px;
}
li a:hover{
	color:rgba(255,0,4,1.00);
}
.float-right{
	float: right;
}
.float-left{
	float: left;
}
.head .more {
	float: right;
	background-image: -webkit-linear-gradient(0deg,rgba(7,183,232,1.00) 0%,rgba(19,107,181,1.00) 100%);
	background-image: -moz-linear-gradient(0deg,rgba(7,183,232,1.00) 0%,rgba(19,107,181,1.00) 100%);
	background-image: -o-linear-gradient(0deg,rgba(7,183,232,1.00) 0%,rgba(19,107,181,1.00) 100%);
	background-image: linear-gradient(90deg,rgba(7,183,232,1.00) 0%,rgba(19,107,181,1.00) 100%);
	width: 45px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	line-height: 18px;
	margin-top: 6px;
	color: rgba(255,255,255,1.00);
}
.head .title{
	border: 1px double rgba(77,139,188,1.00);
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	font-size: 12px;
	width: 75px;
	line-height: 25px;
	font-weight: bolder;
	background-image: -webkit-linear-gradient(270deg,rgba(7,183,232,1.00) 0%,rgba(19,107,181,1.00) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(7,183,232,1.00) 0%,rgba(19,107,181,1.00) 100%);
	background-image: -o-linear-gradient(270deg,rgba(7,183,232,1.00) 0%,rgba(19,107,181,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(7,183,232,1.00) 0%,rgba(19,107,181,1.00) 100%);
	margin-left: 10px;
	background-repeat: no-repeat;
	color: rgba(255,255,255,1.00);
}
.copyright{
    text-align: center;
    font-weight: bolder;
    color: #FFFFFF;
    line-height: 50px;
    background-color: rgba(46,221,142,0.5);
	width: 960px;
	float: left;
}